<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>
  <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
      <h1 class="display-1">ABOUT</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi eaque totam sed consectetur, veritatis expedita adipisci 
        repellendus nesciunt deleniti delectus, quis aut laboriosam, facilis eveniet dignissimos? Aliquam quod repellat ullam. Saepe ipsa,
        nobis animi reprehenderit sapiente consequuntur nam perferendis debitis, officiis modi enim quaerat? Repudiandae enim quidem corporis 
        minima fuga harum eveniet at similique! Itaque nulla molestias quam qui exercitationem quibusdam ratione iure dolore suscipit 
        asperiores corporis veritatis a ipsam nam fuga rerum, reiciendis saepe dolorum nobis at sequi sapiente illo! Optio recusandae 
        in quos odio molestias unde dicta et provident voluptatem, accusantium fugit beatae. Velit, iure. Temporibus, qui eos!</p>
    </section>
  </main>
  <%- include('partials/footer') %>
</body>
</html>